{
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "env": {
      "es6": true,
      "node": true,
      "mocha": true
    },
    "rules": {
      "strictPropertyInitialization": 0,
      "prefer-const": 0,
      "quote-props": 0,
      "no-console": 0
    }
}